$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";
@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

@import "./account-settings/style";
@import "./id-verification/id-verification";

.word-break-all {
  word-break: break-all !important;
}

main{
  background-color: #f2f2f2;
}

.page__account-settings{
  max-width: 1200px;
}

.page__account-settings h1{
  border-bottom: 2px solid #3fa9f5;
  padding-bottom: 10px;
}
.account-section{
  border: 2px solid #3fa9f5;
  padding: 20px;
  background-color: white;
}

.page__account-settings .btn-link{
  background-color: #3fa9f5;
  border: none;
  color: white;
  text-decoration: none;
  padding: 3px 10px !important;
  font-size: 0.8rem;
}

.page__account-settings .btn-link:hover{
  text-decoration: none;
  background-color: #80D5FB;
}

.page__account-settings p button.btn-link{
  background-color: transparent;
  border: 1px solid #3fa9f5;
  color: #3fa9f5;
}

.page__account-settings h6, 
.page__account-settings .h6{
  color: #3fa9f5;
  font-size: 1rem;
  font-weight: normal;
}

.page__account-settings .jump-nav-sm{
  padding-top: 0 !important;
}
.page__account-settings .jump-nav li{
  background-color: #B3B3B3;
  padding: 10px 15px;
}

.page__account-settings .jump-nav li a{
  color: white;
  text-decoration: none;
}

.site-header-desktop{
  background-color: #303030 !important;
  border-bottom: 4px solid #3fa9f5;
}

.avatar{
  display: none;
}

.menu-trigger.btn{
  border: 1px solid #3fa9f5;
  color: white;
}

.nav.main-nav{
  display: none;
}

.wrapper-footer {
  background-image: url(bgfoot.png);
  color: white;
}

.wrapper-footer a{
  color: white;
}

.copyright a{
  color: white !important;
}

.wrapper-footer a:hover,
.copyright a:hover{
  text-decoration: none;
}

.wrapper-footer .row{
  max-width: 1000px;
  margin: 50px auto;
}

.wrapper-footer .last-col{
  border-left: 1px solid white;
}

.copyright{
  text-align: center;
}

.wrapper-footer footer .social{
  display: flex;
}

.wrapper-footer footer .social a {
  color: #00acd7;
  background-color: white;
  border-radius: 5px;
  height: 44px;
  width: 44px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 9px;
}

.wrapper-footer footer .social a:hover {
  color: white;
  background-color: #00acd7;
  text-decoration: none;
}

// TODO: Update edx-bootstrap theme to incorporate these edits.
.btn, a.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > main {
    flex-grow: 1;
  }
}

.coaching-header {
  .logo {
    display: block;
    box-sizing: content-box;
    height: 1.75rem;
    padding: .75rem 0;
  }
}

.coaching-consent {
  .disclaimer {
    font-size: 	0.75rem;
  }
}

.checkboxOption {
  input:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }

  label {
    font-weight: normal;
  }
}
